
.menu ul ul {
   
    display: none; 
    margin: 0;
    top: 0%;
    left: 7em; 
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    color: blue;
} 

ul li {
    text-decoration: none;
    list-style: none;
}

.p1:hover ul{
    display: block;
}

li {
    display: flex;
    width: 7em;
    border: 2px solid;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7cnAOauXYwipRVRt0mbKLcqooiMQZS8LHlQ&usqp=CAU);
    background-size :cover;
}
